@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@plugin 'tailwindcss-animate';

:root {
  --background: hsl(38.8 75% 95.8%);
  --foreground: hsl(38.8 3.8% 7.9%);
  --card: hsl(38.8 37.5% 95.8%);
  --card-foreground: hsl(38.8 3.8% 12.9%);
  --popover: hsl(38.8 75% 97.9%);
  --popover-foreground: hsl(38.8 98.8% 5.8%);
  --primary: var(--color-cyan-500);
  --primary-foreground: var(--color-white);
  --secondary: hsl(38.8 25% 81.6%);
  --secondary-foreground: 0 0% 0%;
  --muted: hsl(38.8 25% 90.8%);
  --muted-foreground: hsl(38.8 3.8% 37.9%);
  --accent: hsl(38.8 25% 85.8%);
  --accent-foreground: hsl(38.8 3.8% 12.9%);
  --destructive: hsl(0 87.5% 41.6%);
  --destructive-foreground: hsl(38.8 3.8% 95.8%);
  --border: hsl(38.8 27.5% 68.6%);
  --input: hsl(38.8 27.5% 36.6%);
  --ring: 38.8 88.7% 45.3%;
  --radius: 0.5rem;
  --sidebar-background: hsl(39 75% 91%);
  --sidebar-foreground: hsl(39 4% 7%);
  --sidebar-primary: hsl(39 32% 55%);
  --sidebar-primary-foreground: 0 0% 0%;
  --sidebar-accent: hsl(77 25% 82%);
  --sidebar-accent-foreground: hsl(0 0% 0%);
  --sidebar-border: hsl(39 28% 65%);
  --sidebar-ring: hsl(29 98% 45%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --chart-6: hsl(210 66% 50%);
  --chart-7: hsl(240 66% 50%);
  --chart-8: hsl(270 66% 50%);
  --chart-9: hsl(300 66% 50%);
  --chart-10: hsl(330 66% 50%);
  --chart-11: hsl(360 66% 50%);
  --chart-12: hsl(390 66% 50%);
}
.dark {
  --background: hsl(38.8 40% 7.9%);
  --foreground: hsl(38.8 3.8% 95.8%);
  --card: hsl(38.8 37.5% 5.8%);
  --card-foreground: hsl(38.8 3.8% 95.8%);
  --popover: hsl(38.8 40% 5%);
  --popover-foreground: hsl(38.8 3.8% 95.8%);
  --primary: var(--color-cyan-500);
  --primary-foreground: var(--color-white);
  --secondary: hsl(38.8 25% 15.8%);
  --secondary-foreground: 0 0% 100%;
  --muted: 76.8 25% 20.8%;
  --muted-foreground: hsl(38.8 3.8% 62.9%);
  --accent: hsl(76.8 25% 20.8%);
  --accent-foreground: hsl(38.8 3.8% 92.9%);
  --destructive: hsl(0 87.5% 41.6%);
  --destructive-foreground: hsl(38.8 3.8% 95.8%);
  --border: hsl(38.8 27.5% 36.6%);
  --input: hsl(38.8 27.5% 36.6%);
  --ring: hsl(38.8 88.7% 45.3%);
  --radius: 0.5rem;
  --sidebar-background: hsl(39 40% 10%);
  --sidebar-foreground: hsl(39 4% 100%);
  --sidebar-primary: hsl(39 32% 48%);
  --sidebar-primary-foreground: 0, 0%, 0%;
  --sidebar-accent: hsl(77 25% 18%);
  --sidebar-accent-foreground: hsl(0 0% 100%);
  --sidebar-border: hsl(39 28% 35%);
  --sidebar-ring: hsl(29 98% 45%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --chart-6: hsl(180 66% 50%);
  --chart-7: hsl(240 66% 50%);
  --chart-8: hsl(300 66% 50%);
  --chart-9: hsl(360 66% 50%);
  --chart-10: hsl(420 66% 50%);
  --chart-11: hsl(480 66% 50%);
  --chart-12: hsl(540 66% 50%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-chart-8: var(--chart-8);
  --color-chart-9: var(--chart-9);
  --color-chart-10: var(--chart-10);
  --color-chart-11: var(--chart-11);
  --color-chart-12: var(--chart-12);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer utilities {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .duration-1000 {
    transition-duration: 1000ms;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
